.listing{
    margin: 32px;
}

h2{
    color: #757575;
}

.participantstable{
    width: 912px;
    background-color:white;
    margin-top: 10px;
}

.participantstable tr{
    padding: 24px;
    border-bottom: #f4f4ec solid 1px;
}

.participantstable td{
    padding: 24px;
    border-bottom: #f4f4ec solid 1px;
}

.participantstable th{
    padding: 24px;
    border-bottom: #f4f4ec solid 1px;
}

.participantstable .name{
    width: 20%;
}

.participantstable .email{
    width: 30%;
}

.participantstable .phoneNumber{
    width: 30%;
}

.participantstable .button{
    width: 20%;
}

thead tr{
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    height: 48px;
    text-align: left;
    color: #757575;
}